html{
  background-color: #34a0a4;
}
body {
  padding: 0;
  margin: 0;
}
/*Barra de navegació*/
ul {
  list-style-type: none;
  font-family: 'Denk One', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #76c893;
  border-top: 3px solid #073b4c;
  border-bottom: 3px solid #073b4c;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #52b69a;
}

.active {
  background-color: #1e6091;
  color: white;
}
/*Contenedor PACMAN*/
#canvas{
    position:absolute;
    top: 280px;
    right:33.333%;
}

header{
  background-color: #D9ED92;
}

.cap{
  /*margin-left: 33.333%;
  margin-right:33.333%;*/
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Righteous', cursive;

}

.formulari{
  background-color: white;
  border-radius: 20px;
  width: 15%;
  height: 500px;
  margin-top: 5%;
  margin-left: 20px;
  font-family: 'Raleway', sans-serif;
}
.dades{
  margin-left:5%;
  padding-top:5%;
  padding-bottom:5%;
  font-size: 30px;
}
.mod{
  margin-left:10%;
  padding-bottom:5%;
  font-size: 30px;
}
.nivell{
  margin-left:10%;
  padding-bottom:5%;
  font-size: 30px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: white;
  border: 2px solid #003153;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: #003153;
  color:white;
  transition:1s;
}

.boto{
  margin-left:33.33%;
  font-size: 30px;
}
footer{
  font-family: 'Denk One', sans-serif;
  color: white;
  background-color: #1e6091;
  text-align: center;
  font-size: 14px;
  bottom:0;
  width: 100%;
  position:absolute;
}
/*Contenidor del joc*/
#myContainer{
  position:absolute;
  top: 20%;
  left:20%;
}
/*.contador{
border: 1px solid black;
width: 15%;
height: 500px;
margin-top: 5%;
float: right;
font-family: 'Raleway', sans-serif;
clear:both;
}*/
